@charset "ISO-8859-1";
@charset "ISO-8859-1";

body{
	margin: 0;
	width: 100%;
	position: absolute;
}

header{
	background-color: black;
	margin: 0;
}

.site-title{
	background-color: black;
	color: #fab306;
	margin: 0px 0px;
	font-weight: 300;
	margin-bottom: 20px;
	margin-left: 145px;
	padding-top:10px;
}

#title2{
	color: white;
}


#home, #logout{
	color: black;
	padding: 10px;
}

.navbar {
	overflow: hidden;
	front-family: Arial;
	background-color: #fab306;
	margin-left: 150px;
	margin-right: 150px;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16 px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
	margin: 0;
}

.dropdown .button {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover, .dropdown:hover .button{
	background-color: red;
}

.dropdown-content{
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: #f9f9f9;
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover{
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display:block;
}

#customer-management, #account-management, #status-details, #account-operations{
	border: none;
	background-color: #fab306;
	padding: 12px;
}

#home, .dropdown {
	display: flex;
	flex-wrap: wrap;
}


main{
	background-image: linear-gradient(grey,white);
	margin: 0;
	padding-top: 10px;
	padding-bottom: 40px;
	padding-left: 300px;
	padding-right: 300px;
}

#main-title{
	margin: 0;
}

#submit, #reset{
	color:  #fab306;
	background-color: black;
}

ul{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

li{
	padding: 30px;
}

footer{
	background-color: black;
	padding: 0;
}