<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Product_Retail_Banking</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file> 
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateCustomerController</display-name>
    <servlet-name>CreateCustomerController</servlet-name>
    <servlet-class>com.ilp.Controller.CreateCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCustomerController</servlet-name>
    <url-pattern>/CreateCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.ilp.Controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>DeleteCustomerController</display-name>
    <servlet-name>DeleteCustomerController</servlet-name>
    <servlet-class>com.ilp.Controller.DeleteCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerController</servlet-name>
    <url-pattern>/DeleteCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeNavigationController</display-name>
    <servlet-name>HomeNavigationController</servlet-name>
    <servlet-class>com.ilp.Controller.HomeNavigationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeNavigationController</servlet-name>
    <url-pattern>/HomeNavigationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomerController</display-name>
    <servlet-name>ViewCustomerController</servlet-name>
    <servlet-class>com.ilp.Controller.ViewCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomerController</servlet-name>
    <url-pattern>/ViewCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerController</display-name>
    <servlet-name>UpdateCustomerController</servlet-name>
    <servlet-class>com.ilp.Controller.UpdateCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerController</servlet-name>
    <url-pattern>/UpdateCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountController</display-name>
    <servlet-name>CreateAccountController</servlet-name>
    <servlet-class>com.ilp.Controller.CreateAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountController</servlet-name>
    <url-pattern>/CreateAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCustomerController</display-name>
    <servlet-name>SearchCustomerController</servlet-name>
    <servlet-class>com.ilp.Controller.SearchCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCustomerController</servlet-name>
    <url-pattern>/SearchCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNavigationController</display-name>
    <servlet-name>UpdateNavigationController</servlet-name>
    <servlet-class>com.ilp.Controller.UpdateNavigationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNavigationController</servlet-name>
    <url-pattern>/UpdateNavigationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchAccountController</display-name>
    <servlet-name>SearchAccountController</servlet-name>
    <servlet-class>com.ilp.Controller.SearchAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAccountController</servlet-name>
    <url-pattern>/SearchAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountController</display-name>
    <servlet-name>DeleteAccountController</servlet-name>
    <servlet-class>com.ilp.Controller.DeleteAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountController</servlet-name>
    <url-pattern>/DeleteAccountController</url-pattern>
  </servlet-mapping>

</web-app>