@charset "ISO-8859-1";


table {
	text-align: center;
	border: 1px solid black;
}

th, td {
	border: 1px solid black;
	padding: 0;
}

th {
	background-color: #EAAA00;
	padding: 8px;
}

td {
	padding: 4px;
	
}